$work: #E06666;
$personal: #93C47D;
$fun: #69DEEB;
$urgent-and-text: #000000;
$normal: #434343;
$low: #666666;
$card-border: #999999;
$input-border: #D9D9D9;
$add-button-border: #1155CC;
$add-button-fill: #3C78D8;
$background: #F3F3F3;
$white: #FFF;

$title-font-size: 18px;
$standard-font-size: 14px;

$mobile-screen-size: 667px;